player-connection-mode=Listen
player-connection-guid=2276411172
player-connection-debug=0
player-connection-project-name=Start_1
player-connection-ip=26.129.17.222
player-connection-ip=172.24.128.1
player-connection-ip=192.168.56.1
player-connection-ip=172.25.32.1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=f1fba435d9494f06a352d58a4b9aff30
